:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: 0.3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
      margin-left: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }




h1{
    
    justify-content: center;
    display: flex;
    font-weight: 700;
    margin: 0;
    color: white;
    background-color: blue;
    line-height: 1.25;
  }


.form-label,
.form-input {
  display: block;
}

.form-label {
    
  font-size:22px;
  font-weight: bold;

  margin: 0 0 0 5px;
}


.form-input {
  width: 20%;
  
 
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.btn {
    
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 20%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: white;
    border: none;
    outline: none;
    background-color: lightskyblue;
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
  .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }

  .buttonContainer {
    
        margin: 0 0 20px 0;
        border: 3px solid var(--dark);
        border-radius: var(--border-radius);
      width:20%
    
  }
  
  
  
  
 